#Footer {
    background: #313455;
    color: #737687;
    text-align: center;
    line-height: 24px;

    .Container {
    padding: 23px 0;
    }
    

    cite {
        font-style: normal;
        display: block;
    }
}