.Info {
  text-align: center;
  background: $color-darkBlue;
  padding: 40px 0;
  line-height: 18px;
  color: #8487a6;
  
  &-box {
    margin-bottom: 30px;
  }

  .AlignHorizontal {
    justify-content: center;
  }

  .Social {
    background: transparent;
    border-color: $color-white;

    svg {
      fill: $color-white
    }
  }

  &-title {
    color: $color-white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  @media (min-width: $desktop) {
    padding: 85px 0;

    .Container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    &-title {
      margin-bottom: 20px;
    }

    &-box {
      margin-bottom: 0;
    }
  }
}