.Photos {
  background: green;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  &-photo {
    background: orange;
    max-height: 250px;
    overflow: hidden;
    position: relative;

    &:hover,
    &:focus {
      .Photos-info {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  &-info {
    color: #fff;
    line-height: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: rgba(red, .7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
  }

  &-title {
    width: 100%;
    text-align: center;
  }
}